.notification-msg {
    font-size: 20px;
    color: green;
    background-color: lightgrey;
    border: solid 3px green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.notification-msg-error {
    font-size: 20px;
    color: red;
    background-color: lightgrey;
    border: solid 3px red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}